.postdetail_text {
    margin: 10px;
}
.postdetail_comment {
    font-size: 30px;
}
.postdetail_box {
    display: flex;
    flex-direction: row;
    background-color: red;
    color: white;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
    cursor: pointer;
}
.postdetail_box:hover {
    background-color: white;
    color: blue;
}